<ion-view title="Iniciar sesión" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="iniciarSesiN-form2" class="list">
      <ion-list id="iniciarSesiN-list2">
        <label class="item item-input" id="iniciarSesiN-input1">
          <span class="input-label">Correo</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="iniciarSesiN-input2">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="iniciarSesiN-button9" class="button button-stable button-block">Iniciar sesión</button>
      <a href-inappbrowser="/signup" id="iniciarSesiN-button10" class="button button-positive button-block button-clear">O Crear una cuenta</a>
    </form>
  </ion-content>
</ion-view>