<ion-view title="Promociones" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="promociones-slider2" style="width:100%;height:95%;">
      <ion-slide-page id="promociones-slide27" style="background:url(&quot;img/sNK9qBsSs6WSGNFXt5jz_oferta-34.jpg&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="promociones-slide28" style="background:url(&quot;img/imOzIfgTOWJdzG8AEwxI_EstudioFP.png&quot;) no-repeat center;background-size:cover;" class="padding">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="promociones-slide29" style="background:url(&quot;img/l7lIPvfSpead6kuo7QpQ_puntoBlanco.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>