<ion-view title="Centros comerciales" id="page2">
  <ion-content padding="true" class="has-header">
    <a ui-sref="tabsController.tiendasCCAndino()" id="centrosComerciales-button11" style="text-align:left;" class="button button-stable button-block">CC. Andino</a>
    <button id="centrosComerciales-button12" style="text-align:left;" class="button button-stable button-block">CC. Atlantis</button>
    <button id="centrosComerciales-button13" style="text-align:left;" class="button button-stable button-block">CC. Cedritos</button>
    <button id="centrosComerciales-button14" style="text-align:left;" class="button button-stable button-block">CC. Galerias</button>
    <button id="centrosComerciales-button15" style="text-align:left;" class="button button-stable button-block">CC. Santa fe</button>
  </ion-content>
</ion-view>