<body ng-controller="centrosComercialesCtrl">
  <ion-view title="Tiendas CC. Andino" id="page11">
    <ion-content padding="true" class="has-header">
      
      <form id="tiendasCCAndino-form3" class="list">
        <label class="item item-input" id="tiendasCCAndino-search2">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" ng-model="q" placeholder="Nombre tienda">
        </label>
      </form>
      <ion-list>
          <ion-item ng-repeat="item in shops | filter:q as results">
          {{item.name}} - {{item.local}} 
          </ion-item>
      </ion-list>
    </ion-content>
  </ion-view>
</body>