<ion-view title="Tiendas CC. Andino" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="tiendasCCAndino-form3" class="list">
      <label class="item item-input" id="tiendasCCAndino-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Nombre tienda">
      </label>
    </form>
    <ion-list>
      <ion-item>Estudio F Planta 1 Local 120</ion-item>
      <ion-item>Arturo Calle Planta 1 Local 103</ion-item>
    </ion-list>
  </ion-content>
</ion-view>